<!--<div class="login-container">-->

<!--  <div class="login-form">-->
<!--    <h2 class="margin">Авторизуйтесь-->
<!--      <i class="fa fa-sign-in" aria-hidden="true"></i>-->
<!--    </h2>-->


<!--    <label class="margin">-->
<!--      Логин:-->
<!--      <input type="text" placeholder="Логин" [(ngModel)]="login">-->
<!--    </label>-->

<!--    <label class="margin">-->
<!--      Пароль:-->
<!--      <input type="password" placeholder="Пароль" [(ngModel)]="password">-->
<!--    </label>-->

<!--    <button (click)="auth()" class="margin">-->
<!--      Войти-->
<!--    </button>-->
<!--  </div>-->

<!--</div>-->

<!--<form action="/login" method="post">-->
<!--  <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--  <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--  <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
