.computer-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-width: 300px;

  padding: 15px;

  margin-bottom: 30px;

  border: 1px solid black;
  border-radius: 5%;
}

div {
  margin-bottom: 15px;
}

.update {
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
}

.update:hover {
  cursor: pointer;
  background-color: wheat;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner {
  margin-left: 10px;
}
