<button (click)="toggle()">
  {{buttonText}}
</button>

<div class="form-container" *ngIf="!buttonClick">
  <button (click)="addField()">
    Добавить поле
  </button>
  <div class="error-message" *ngIf="isInvalid">Пожалуйста, заполните все поля</div>
  <div class="input-container" *ngFor="let in of fakeValues; let i = index">
    <input type="text" [(ngModel)]="inputs[i]" required>
    <input type="text" [(ngModel)]="values[i]" required>
    <span tabindex="0" class="button-delete" (click)="deleteRow(i)">Удалить</span>
  </div>

  <button (click)="submit()">
    Submit
  </button>
</div>
