.title {
  text-align: center;
  font-size: 24px;
}

.loading {
  font-size: 24px;
}

.empty-data {
  margin: 15px;
  padding: 10px;
  font-size: 24px;
}

.create {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
