.body-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.body-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.body-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
