<div class="hard-list">
  <h2 class="title">Список железа: {{getName()}}</h2>
  <div *ngIf="!isLoading">
    <app-hardware-list [list]="data"></app-hardware-list>
    <div class="empty-data" *ngIf="data.length === 0">
      Данных для отображения нет
    </div>
  </div>

  <div class="add-hard" *ngIf="!isLoading">
    <button (click)="openForm()" class="add-inputs">
      {{isAdd ? 'Закрыть форму' : 'Добавить железо'}}
    </button>

    <div *ngIf="isAdd" class="form-container">
      <label>
        Название: <input type="text" [(ngModel)]="addHard.name">
      </label>
      <label>
        Описание: <input type="text" [(ngModel)]="addHard.description">
      </label>

      <div class="invalid" *ngIf="isInvalid">
        Заполните все поля
      </div>

      <button class="add-inputs submit" (click)="submit()">
        Отправить
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    Подождите, идет загрузка данных :)
  </div>
</div>
