.hard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.add-hard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-inputs {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 15px;

  border-radius: 15%;
}

.add-inputs:hover {
  background-color: wheat;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

label {
  margin-bottom: 15px;
  font-size: 24px;
}

.submit {
  align-self: center;
  font-size: 20px;
}

.invalid {
  color: red;
  align-self: center;
  margin-bottom: 10px;
}

input {
  font-size: 20px;
  padding: 5px;
}

.loading {
  font-size: 24px;
}


.empty-data {
  margin: 15px;
  padding: 10px;
  font-size: 24px;
}
